@page
@model Notes_Application.Pages.RegisterModel
@{
    ViewData["Title"] = "Register - Notes";
    ViewData["Css"] = "~/css/login.css";
}

<div class="login">
    <div id="image">
        <span class="material-symbols-outlined" style="font-size: 150px;">
            sticky_note_2
        </span>
    </div>
    <form>
        <label>Name: </label>
        <input type="text" name="name">
        <input type="text" name="email">
        <label>:E-Mail</label>
        <label>Password: </label>
        <input type="password" name="password">
        <button>Manage your notes!</button>
    </form>
</div>