* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: Helvetica;
}
html, body{
    height: 100%;
}
#container
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: minmax(80px, 12%) auto 12%;
}

.bar {
    background-color: #393E46;
    color: wheat;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav{
    justify-content: space-between;
}
#logo{
    padding: 0 40px;
    align-self: center;
}

#menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
}

#menu ul li{
    align-self: center;
    margin-right: 40px;
}

main{
    display: grid;
    grid-template-rows: 60% auto;
}

.welcome
{
    background-color: #576F72;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0EBE3;
    text-shadow: 5px 5px 5px #393E46;
}
#image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcometext
{
    width: 50%;
    padding:20px;
}
#welcometext p
{
    margin-bottom: 20px;
}

button{
    padding: 15px;
    border-radius: 30px;
    color: inherit;
    background-color: #576F72;
    border: 5px solid #F0EBE3;
    box-shadow: 5px 5px 5px #393E46;
}
button:hover{
    background-color: #7D9D9C;
}

#text
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #E4DCCF;
    color: #393E46;
}

footer{
    justify-content: center;
    min-height: 80px;
}