@page
@model NotesAplicationWeb.Pages.ContentModel
@{
    ViewData["Title"] = "Best Notes App!";
    ViewData["Css"] = "~/css/content.css";
}

<div id="sidebar">
    <ul>
        <li>Main Folder</li>
        <li><a href="#">+ New Folder</a></li>
    </ul>
</div>
<div id="content">
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis
            voluptate beatae.
        </div>
    </div>
    <div class="note">
        <div class="noteText">
            +
        </div>
    </div>
</div>