@page
@model IndexModel
@{
    ViewData["Title"] = "Best Notes App!";
    ViewData["Css"] = "~/css/index.css";
}


<div class="welcome">
    <div id="image">
        <span class="material-symbols-outlined" style="font-size: 200px;">
            sticky_note_2
        </span>
    </div>
    <div id="welcometext">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic provident earum quaerat alias
            dignissimos.
        </p>
        @{
            if (HttpContext.Session.GetString("accountJson") == null)
            {
                <a class="fakeButton" asp-page="/Register">Manage your notes!</a>
            }
            else
            {
                <a class="fakeButton" asp-page="/Content">Manage your notes!</a>
            }
        }
    </div>
</div>
<div id="text">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque obcaecati consectetur vero laboriosam,
        soluta unde nihil itaque dolores enim illum, nam dolorum deleniti quo ducimus commodi voluptas
        laudantium blanditiis, maxime magnam aliquam. Quae cupiditate amet nesciunt ipsum tenetur molestias
        debitis aperiam, sapiente maxime architecto rem, illum totam doloribus doloremque ipsa in obcaecati
        voluptates corrupti aliquid optio? Odit fugiat ratione suscipit voluptates possimus natus earum
        eligendi eaque libero ipsa molestiae maxime quaerat dolore, ipsum repellat doloribus labore amet
        modi, sed accusantium reprehenderit rerum veniam aspernatur. Optio molestiae iste illum fugit ut,
        quibusdam provident voluptate inventore velit numquam reprehenderit sedolores itaque
        consectetur, modi autem optio doloremque perspiciatis cumque adipisci quisquam debitis dolorum magni
        officia sunt eius dicta laboriosam hic mollitia eaque dolore nisi vitae! Sit nam, placeat et maiores
        necessitatibus rem corrupti obcaecati dolore porro architecto sapiente laborum. Suscipit molestias
        corporis doloremque, pariatur repudiandae voluptatibus aut facilis hic sunt veniam. Consequuntur
        quisquam beatae ratione vitae iure voluptate repellat, sint reprehenderit laudantium dicta aut iusto
        possimus similique velit dolorum libero, nam maiores, explicabo doloremque minima sequi. Obcaecati
        dicta, modi saepe animi exercitationem dolore illo a repellendus ullam dolorum repellat doloribus
        voluptas pariatur ducimus, quaerat ratione qui magni quia possimus optio nobis beatae vitae rerum
        odio. Architecto magnam, doloribus, dignissimos consectetur reprehenderit optio ipsum, blanditiis
        alias quam explicabo quidem nam repellat deserunt possimus?
    </p>
</div>
