@page
@model NotesAplicationWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login - Notes";
    ViewData["Css"] = "~/css/login.css";
}

<div class="login">
    <div id="image">
        <span class="material-symbols-outlined" style="font-size: 150px;">
            sticky_note_2
        </span>
    </div>
    <form method="post" autocomplete="on">
        <label asp-for="Name">Name: </label>
        <input asp-for="Name" type="text">
        <input asp-for="Password" type="password">
        <label asp-for="Password">Password: </label>
        <button type="submit">Manage your notes!</button>
        <div class="validation">
            @Model.mess
            <span class="feedback" asp-validation-for="Name"></span>
            <span class="feedback" asp-validation-for="Password"></span>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}