@page
@model NotesAplicationWeb.Pages.RegisterModel
@{
    ViewData["Title"] = "Register - Notes";
    ViewData["Css"] = "~/css/login.css";
}

<div class="login">
    <div id="image">
        <span class="material-symbols-outlined" style="font-size: 150px;">
            sticky_note_2
        </span>
    </div>
    <form method="post" autocomplete="on">
        <label for="name">Name: </label>
        <input asp-for="User.Name" type="text" name="name">
        <input asp-for="User.Email" type="text" name="email">
        <label asp-for="User.Email" for="email">:E-Mail</label>
        <label for="password">Password: </label>
        <input asp-for="User.Id" type="password" name="password">
        <button type="submit">Manage your notes!</button>
        <span class="feedback" asp-validation-for="User.Email"></span>
        <span class="feedback" asp-validation-for="User.Name">@Model.mess</span>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}