@page
@model NotesAplicationWeb.Pages.RegisterModel
@{
    ViewData["Title"] = "Register - Notes";
    ViewData["Css"] = "~/css/login.css";
}

<div class="login">
    <div id="image">
        <span class="material-symbols-outlined" style="font-size: 150px;">
            sticky_note_2
        </span>
    </div>
    <form method="post" autocomplete="on">
        <label asp-for="User.Name">Name: </label>
        <input asp-for="User.Name" type="text">
        <input asp-for="User.Email" type="text">
        <label asp-for="User.Email">:E-Mail</label>
        <label asp-for="User.Password">Password: </label>
        <input asp-for="User.Password" type="password">
        <button type="submit">Manage your notes!</button>
        <div class="validation">
            @Model.mess
            <span class="feedback" asp-validation-for="User.Name"></span>
            <span class="feedback" asp-validation-for="User.Email"></span>
            <span class="feedback" asp-validation-for="User.Password"></span>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}