<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Notes_Application</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="@ViewData["Css"]" asp-append-version="true" />
    <link rel="stylesheet" href="~/NotesAplicationWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div id="container">
        <nav class="bar">
            <div id="logo"><a asp-page="/Index">Notes</a></div>
            <div id="menu">
                <ul>
                    <li><a asp-page="/Login">Login</a></li>
                    <li><a asp-page="/Register">Register</a></li>
                    <li><a asp-page="/Content">Content</a></li>
                </ul>
            </div>
        </nav>
        <main>
            @RenderBody()
        </main>
        <footer class="bar">Grzegorz Malisz</footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>