main {
    display: grid;
    grid-template-rows: auto auto;
}

.welcome {
    background-color: #576F72;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 5px 5px 5px #393E46;
}

#welcometext {
    width: 50%;
    padding: 20px;
}

    #welcometext p {
        margin-bottom: 20px;
    }

button:hover {
    background-color: #7D9D9C;
    transition: 0.5s;
}

#text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #E4DCCF;
    color: #393E46;
}

    #text p {
        color: inherit;
    }

footer {
    justify-content: center;
}
